body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #7bb9c8;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container {
    
}

#question {
    font-family: 'Comic Sans MS'; /* Apply Sacramento font to the question */
    font-size: 52px; /* Set font size for the question */
}

#options {
    margin-top: 20px; /* Add space above the options */
}

button {
    padding: 10px 20px; /* Set padding for buttons */
    margin: 0 10px; /* Set margin around buttons */
    font-size: 26px; /* Set font size for buttons */
    font-family: 'Comic Sans MS'; /* Apply Sacramento font to the options */
    background-color: #f74a29; /* Set button background color */
    color: white; /* Set text color to white */
    border: none; /* Remove button border */
    border-radius: 25%;
    cursor: pointer; /* Set cursor to pointer on hover */
}
